
body {
 font-family: Verdana, Arial, Helvetica, sans-serif;
 font-size: 13px;
}

p {
 padding: 10px;
}

#wrapper { 
 margin: 0 auto;
 width: 980px;
}

#content { 
 float: left;
 color: black;
 background: #FFFFFF;
 min-height: 450px;
 width: 839px;
 display: inline;
 border-left-width: 1px;
 border-left-color: black;
 border-left-style: solid;
 
}

#header {
 color: black;
 width: 980px;
 float: left;
 height: 75px;
 background: silver;
}

#footer { 
 width: 980px;
 height: 25px;
 clear: both;
 color: black;
 background: silver;
}

#navigation {
 float: left;
 width: 980px;
 height: 25px;
 color: black;
 background: #8AA1B6;
}

#leftcolumn { 
 color: black;
 background: #FFFFFF;
 width: 140px;
 float: left;
}

#leftcolumn ul 
{
	list-style-type: none;
	margin-left: -30px;
}

.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}

.roundtop {
  -moz-border-top-right-radius:    10px;
  -webkit-border-top-right-radius: 10px;
  border-top-right-radius:         10px;
  -moz-border-top-left-radius:    10px;
  -webkit-border-top-left-radius: 10px;
  border-top-left-radius:         10px;
}

.roundbottom {
  -moz-border-bottom-right-radius:    10px;
  -webkit-border-bottom-right-radius: 10px;
  border-bottom-right-radius:         10px;
  -moz-border-bottom-left-radius:    10px;
  -webkit-border-bottom-left-radius: 10px;
  border-bottom-left-radius:         10px;
}


