/*TAGS*/

/*
p {
 padding: 10px;
}
*/
/*a { color: #008080; }
a:visited { color: #008080; }
a:hover { color: #000000; background-color:#008080; }
*/
/*ID*/

#wrapper { 
 margin: 0 auto;
 width: 980px;
 border: 24px solid #0073CF;
 background-color: #0073CF;
 -moz-border-radius: 24px; 
 -webkit-border-radius: 24px; 
 border-radius: 24px;
}


#content { 
 float: left;
 /*color: #008080;*/
 /*background: #FFFFFF;*/
 min-height: 450px;
 width: 810px;
 display: inline;
 border-left-width: 1px;
 /*border-left-color: #ff5600;*/
 border-left-style: solid;
 
}

#header {
 color: white;
 width: 980px;
 float: left;
 height: 75px;
 background: #0073cf;
 border: 0px;
}
/*
#header a { color: white; }
#header a:visited { color: white; }
#header a:hover { color: #ff5600; background-color: #008080; }
*/

#footer { 
 width: 980px;
 height: 25px;
 clear: both;
 color: white;
 background: #0073cf;
 border: 0px;
}

#navigation {
 float: left;
 width: 980px;
 height: 25px;
 /*color: black;*/
 /*background: white;*/
}

#leftcolumn { 
 /*color: black;*/
 /*background: #FFFFFF;*/
 width: 140px;
 float: left;
}

#leftcolumn ul 
{
	list-style-type: none;
	margin-left: -30px;
}

/*KLASSEN*/
.logo {
	color: white;
	/*font-size: 32px;*/
	padding-top: 20px;
	margin-top: 20px;
}


/*.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}

.roundtop {
  -moz-border-top-right-radius:    10px;
  -webkit-border-top-right-radius: 10px;
  border-top-right-radius:         10px;
  -moz-border-top-left-radius:    10px;
  -webkit-border-top-left-radius: 10px;
  border-top-left-radius:         10px;
  border: 1px solid #ff5600; 
}

.roundbottom {
  -moz-border-bottom-right-radius:    10px;
  -webkit-border-bottom-right-radius: 10px;
  border-bottom-right-radius:         10px;
  -moz-border-bottom-left-radius:    10px;
  -webkit-border-bottom-left-radius: 10px;
  border-bottom-left-radius:         10px;
  border: 1px solid #ff5600;
}*/


