=# render 'form'
= netzke :User, 
  :class_name => "Basepack::FormPanel", 
  :model => "User",
  #:columns => [:name, :email, :vatno],
  :record_id => @principal.user.id,
  :title => "Auftragnehmer bearbeiten"