%tbody{:class => "ui-widget-content"}
  %tr
    %td= profil.name
    %td= profil.category.name
    %td= button_to "Anfragen", :controller => 'requests', :action => 'create', :profil_id => profil.id
